/* Colors: */
$ffb91d: #FFB91D;
$ff991f: #FF991F;
$blanco: #FFFFFF;
$morado: #612AD5;
$azul-claro: #E1EDFF;
$verde-exito: #29D884;
$negro: #000000;
$azul: #0052CC;
$gris-claro: #DFE4E8;
$fondo: #F6F9FB;
$icono-claros: #97A0B0;
$gris: #344563;
$ff4633: #FF4633;

/* Font/text values */
$unnamed-font-family-poppins: Poppins;
$unnamed-font-style-normal: normal;
$unnamed-font-weight-normal: normal;
$unnamed-font-size-11: 11px;
$unnamed-font-size-12: 12px;
$unnamed-character-spacing-0: 0px;
$unnamed-line-spacing-17: 17px;
$unnamed-line-spacing-18: 18px;